/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: 'Mukta', sans-serif;
  line-height: 1;
  background-color : black;
  color: white;
}


article#title { 
 font-size: 50px;
  background-color: black;
  color: white;
  line-height: 1.2;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

/* images and videos max out at full width */
img,

video {
  height: auto;
  max-width: 100%;
  position: center center;
  object-fit: cover;
}

video2 {
  height: auto;
  max-width: 50%;
  position: center center;
  object-fit: cover;
}


links{
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
}

p3{
  font-size: 16px;
  font-family:"futura-pt",sans-serif;
}

p3:hover{
  text-decoration: bold;
  color: grey;
  background-color: white;
}

p4{
    font-size: 16px;
  font-family:"futura-pt",sans-serif;
}

.right-justify{
   text-align: end;
  
}

.layout {
  width: 100%;
  height: 200px;
  object-fit:cover;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  transition: 1s ease;
  justify-content: center;
  

}

.image{
  object-fit:cover;

}


.layout img {
-webkit-filter: brightness(70%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;

}


.layout img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.1);
  transform: move(50%);
transition: 1s ease;
  -webkit-filter: brightness(100%)
  
}



.layout video:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

.container {
  position: relative;
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.containerbottom {
  position: relative;
  object-fit: cover;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.container img{

   min-height: 100%;
  min-width: 100%;
  object-fit: cover;

}

.cover {
   object-fit: cover;
  overflow:hidden;
   /*height: 300px;  optional, you can remove it, but in my case it was good */
}

.coversmall {
  width:90%;
   object-fit: cover;
  overflow:hidden;
  justify-content:center;
   /*height: 300px;  optional, you can remove it, but in my case it was good */
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.1); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: 1s ease;
  opacity:0;
  color: b;
  font-size: 300%;
  padding: 10px;
  text-align: right;
  font-family: 'Kdam Thmor Pro', sans-serif
}

.overlay2 {
v
}



.container:hover .overlay {
  opacity: 1;
}

  .swiper {
        position: relative;
        width: 100%;
        height: 100%;
        justify-content: center;
        margin-right: 10px;
    
      }


.swiper-slide {
      width: 80%;
    text-align: center;
    font-size: 18px;
    background: (0,0,0,0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
     margin-right: 30px;
  padding: 6px;
}



.gallery-container {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.gallery-main {
  width: 200px;
  
  box-shadow: 0 50px 75px 50px rgba(#1e1e1e, 0.18);


  .swiper-button {
    &-prev,
    &-next {
      position: absolute;
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
      height: 75px;
      width: 40px;
      color: #e9e9e9;
      background: #1e1e1e;

      &::after {
        font-size: 12px;
      }
    }

    &-prev {
      right: 40px;
      border-right: 1px solid #e9e9e9;
    }
  }
}

.gallery-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  
}

.gallery-main {
  width: 80%;
 
  box-shadow: 0 50px 75px 50px rgba(#1e1e1e, 0.18);

  .swiper-button {
    &-prev,
    &-next {
      position: absolute;
      bottom: 0;
      right: 0;
      top: auto;
      left: auto;
      height: 75px;
      width: 40px;
      color: #e9e9e9;
      background: #1e1e1e;

      &::after {
        font-size: 12px;
      }
    }

    &-prev {
      right: 40px;
      border-right: 1px solid #e9e9e9;
    }
  }
}

.gallery-title {
    position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.6); /* Black see-through */
  color: #f1f1f1;
  width: 33%;
  height: 66%;
  transition: 1s ease;
  opacity:30%;
  color: b;
  font-size: 40px;
  padding: 40px;
  text-align: left;
 font-family: "Epilogue", sans-serif;
  top: 15px;
  left: 15px;
  text-shadow: 0 0 20px rgba(#000, 0.3);
  color: #ffffff;

  .swiper-slide-active & {
    animation: slide-in 0.3s ease-in both;
  }
}

.gallery-container:hover .gallery-title{
  opacity: 100%;
}



.gallery-thumbs {
   position: relative;
  order: -1;
  width: 300px;
  height: 440px;
  margin-right: 2px;
  padding-left: 2px;
  margin-top:6px;

  .swiper-slide {
    img {
      transition: 0.3s;
    }

    &-active {
      opacity: 0.9;
    }

    &-thumb-active {
      opacity: 1;

      img {
        margin-left: -15px;
      }
    }
  }
  
}
.gallery-thumbs img {
-webkit-filter: brightness(70%);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;

}


.gallery-thumbs img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.1);
  transform: move(50%);
transition: 1s ease;
  -webkit-filter: brightness(100%)
  
}


.RigCity { grid-area: RigCity; }